/* Set body background with image and properties */
body {
    background-image: url("images/bg2.png");
    background-size: cover; /* Ensure background covers entire viewport */
    background-repeat: no-repeat; /* Prevent background image from repeating */
    background-attachment: fixed; /* Fix background position while scrolling */
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

/* Background opacity overlay */
.bg-opacity {
    background-color: rgba(255, 255, 255, 0.75); /* 75% white opacity */
}

/* Custom height for columns */
.custom-col-h {
    height: 400px; /* Fixed height for columns */
}

/* Font styles */
.font-mnt {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
}

p.font-rlw {
    font-family: "Raleway", sans-serif;
    font-size: 30px;
}

.time, .time-long {
    font-family: 'Inconsolata', monospace; /* Monospace font for time display */
}

/* Navbar styling */
.navbar {
    width: 100%; /* Full width navbar */
    position: sticky; /* Sticky position */
    top: 0; /* Stick to the top */
    z-index: 1020; /* Ensure it stays on top of other elements */
}

/* Navbar Button Animation */
.nav a.btn {
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.nav a.btn:hover {
    transform: scale(1.5);
    background-color: #28a745; /* Adjust color as needed */
}

/* Slide-in-right */
.slide-in-right {
    opacity: 0;
    transform: translateX(100px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.slide-in-right-visible {
    opacity: 1;
    transform: translateX(0);
}

/* Badge Wiggle Animation */
@keyframes wiggle {
    0% { transform: rotate(0); }
    25% { transform: rotate(10deg); }
    75% { transform: rotate(-10deg); }
    100% { transform: rotate(0); }
}

/* Badge list styling */
.badge-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Adjust spacing between icons */
    justify-content: flex-start; /* Align items to the left */
}

.badge-list a {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.badge-list a:hover {
    animation: wiggle 0.5s ease-in-out;
    opacity: 0.8;
    transform: scale(1.5); /* Optional: Slightly enlarge on hover */
}

.badge-list li {
    margin: 0 20px; /* Increase space between icons */
}

.badge-container {
    display: flex;
    justify-content: center;
    gap: 10px; /* Add some space between the badges */
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .badge-list li {
        flex: 1 1 100px; /* Smaller badges on smaller screens */
    }
}

/* Contact section styling */
.contact-section {
    background-color: black;
    color: white;
    padding: 20px 0; /* Add vertical padding */
}

.contact-section .badge-list {
    justify-content: center; /* Center icons in the contact section */
}
