/* General body styling */
body {
    background: url("images/bg2-dark.png") no-repeat fixed center/cover;
    color: #ffffff;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    min-height: 100vh; /* Ensure minimum height is full viewport height */
}

/* Background opacity overlays */
.bg-opacity, .bg-navbar {
    background-color: rgba(128, 128, 128, 0.5); /* 50% grey opacity */
}

.bg-navbar {
    background-color: rgba(128, 128, 128, 0.75); /* 75% grey opacity */
}

/* Font styles */
.font-mnt, .font-rlw p, .time .time-long {
    color: #ffffff; /* Set font color to white */
}

.font-mnt {
    font-family: "Montserrat", sans-serif;
    font-size: 1.3rem;
}

.font-rlw p {
    font-family: "Raleway", sans-serif;
    font-size: 1.75rem;
}

.time .time-long {
    font-family: 'Inconsolata', monospace; /* Monospace font for time display */
}

/* Set the size of the image */
.profile-image {
    width: 150px; /* Set desired width */
    height: 150px; /* Set desired height */
    object-fit: cover; /* Ensure the image covers the given dimensions without distortion */
}

/* Navbar styling */
.navbar {
    width: 100%; /* Full width navbar */
    position: sticky; /* Sticky position */
    top: 0; /* Stick to the top */
    z-index: 1020; /* Ensure it stays on top of other elements */
}

/* Navbar Button Animation */
.nav a.btn {
    transition: transform 0.5s ease-in-out, background-color 0.5s ease-in-out;
    color: #f0f8ff;
}

.nav a.btn:hover {
    transform: scale(1.5);
    background-color: #cfcfcf; /* Adjust color as needed */
    color: #000000;
}

/* Navbar styling */
.navbar-brand img {
    width: 40px;
    height: 40px;
    border-radius: 50%; /* Make the image circular */
    background-color: #ffffff; /* Set background color to white */
    padding: 2px; /* Optional: Add padding for better appearance */
}

/* Slide-in-right animation */
.slide-in-right {
    opacity: 0;
    transform: translateX(100px);
    transition: opacity 1.5s ease-out, transform 1.5s ease-out;
}

.slide-in-right-visible {
    opacity: 1;
    transform: translateX(0);
}

/* Badge Wiggle Animation */
@keyframes wiggle {
    0%, 100% { transform: rotate(0); }
    25% { transform: rotate(10deg); }
    75% { transform: rotate(-10deg); }
}

/* Badge list styling */
.badge-list, .badge-list-footer {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.badge-list {
    gap: 10px; /* Adjust spacing between icons */
    justify-content: flex-start; /* Align items to the left */
}

.badge-list li {
    display: inline-block;
    padding: 20px;
    border: 1px solid #ccc; /* Optional: Add border to each box */
    transition: background-color 0.5s;
    cursor: pointer;
    text-align: center;
}

.badge-list li:hover {
    background-color: #787878; /* Change to desired hover color */
}

.badge-list img {
    width: 56px; /* Adjust icon size as needed */
    height: 56px; /* Adjust icon size as needed */
}

.badge-list-footer {
    gap: 30px; /* Adjust spacing between icons */
    justify-content: center; /* Center align items */
}

.badge-list a {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
    color: #dcdcdc;
    text-decoration: none;
}

.badge-list a:hover {
    animation: wiggle 0.5s ease-in-out;
    opacity: 0.8;
    transform: scale(1.5); /* Optional: Slightly enlarge on hover */
}

.badge-list span {
    margin-top: 5px; /* Space between icon and text */
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .badge-list li {
        flex: 1 1 100px; /* Smaller badges on smaller screens */
    }
}

/* Contact section styling */
.contact-section {
    background-color: rgba(0, 0, 0, 1.0);
    color: #ffffff;
    padding: 20px 0; /* Add vertical padding */
    justify-content: center; /* Center icons in the contact section */
}

/* Footer styling */
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh; /* Footer height */
}
